@font-face{
    font-family: Classic;
    src : url(./Assets/Fonts/66aa728085dec3390cb7f058_Satoshi-Variable.ttf)
}

:root{
    --backGround-main : #0F1215;
    --backGround-section1 : #4A576B;
    --backGround-section2 : #005337;
    --backGround-section3 : #5355EE;
    --backGround-section4 : #FB523B;
    --backGround-section5 : #5355EE;
    --backGround-section6 : #1626F3;
    --backGround-section7 : #636301;
    --backGround-section8 : #51249D;
    --color-font : #FFFFFF;
}


*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Classic;
}
html,body{ 
width: 100%;
height: 100%;
font-size: clamp(12px , 1vw, 20px);
}

body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--backGround-main);

}


main{
   
    color: var(--color-font);
    background-color: var(--backGround-main);
    h1{
        text-align: center;
        font-size: 5em;
        padding: 1em;
    }
    #container{
        .card{
            width: 100%;
            display: flex;
            padding: 2em 3em;
            justify-content: space-between;
            transition: ease-in-out 0.3s;
            position: relative;
            border-top: 0.5px solid var(--color-font);
            #left{
                display: flex;
                flex-direction: column;
                gap: 3em;
                h1{
                    padding: 0;
                    text-align: start;
                    font-size: 2em;
                    font-weight: 500;
                }
                #techList{
                    text-transform: uppercase;
                    h5{
                        font-size: 0.7em;
                        font-weight: 500;
                    }
                }
            }

            #right{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 34%;
                p{
                    font-size: 0.9em;
                    font-weight: 500;
                }
                #showCase{
                    opacity: 0;
                    width: 35%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 1.2em;
                    transition: all 0.2s ease-in-out;
                    padding-bottom: 0.7em;
                    border-bottom: 0.01em solid #eee;

                    h5{
                        font-weight: 400;
                    }

                }
            }
            #videosContent{
                display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-70% ,-43%);
                height: 25em;
                width: 33em;
                z-index: 300;
                transition: ease-in-out 0.7s;
                video{
                border-radius: 1em;
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
            }
        }

    }

    #mobileView{
        display: none;
    }
}

@media (max-width : 600px){
    main{
        padding: 0em 1.5em;
        #container{
            display: none;
        }

        #mobileView{
            display: flex;
            flex-direction: column;
            gap: 1em;
            padding-bottom: 10em;

            
            .card{
                width: 100%;
                border-radius: 0.5em;
                padding: 1em 1em;
                display: flex;
                flex-direction: column;
                gap: 1em;

                #top{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    h1{
                        padding: 0;
                        font-size: 1.5em;
                    }
                    #techList{
                        font-size: 1em;
                        text-transform: uppercase;
                    }
                }

                #videosContent{

                    video{
                        width: 100%;
                        border-radius: 1em;
                    }
                }

                #bottom{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 3em;
                   p{
                        font-size: 1.3em;
                        font-weight: 500;
                    }

                    #showCase{
                        width: 60%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 2em;
                        padding-bottom: 1em;
                        border-bottom: 1px solid white;

                        h5{
                            font-size: 1.3em;
                            font-weight: 500;
                        }
                        i{
                            font-size: 20px;
                            font-weight:100;
                        }
                    }
                }
            }
        }
    }
}